.containerHome {
  display: flex;
  padding: 30px;
}

.img {
  height: 500px;
}

.text {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
}
p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
