.all-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ab-img {
  margin: 20px 50px;
}
.ab-img1 {
  margin: 20px 50px;
  border-radius: 10%;
}
.about-p {
  font-size: 16px;
}
