.footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 50px;
  margin-top: 40px;
}

.image {
  margin-top: 40px;
  border-radius: 10px;
}
.pp {
  font-size: 16px;
  margin-left: 20px;
  font-weight: 500;
}
.textF {
  margin: 0 80px;
}
